.sect > .detailed-input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.detailed-input label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
}

.detailed-input input {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.detailed-input span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailed-input .btns {
  margin-left: auto;
}

.detailed-input button {
  margin: 10px;
}

.detailed-input-minimized {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  margin: 5px;
}

.detailed-input-minimized:hover {
  background-color: rgb(241, 241, 241);
}