.sect > .detailed-input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.detailed-input label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 3px;
  font-family: 'Inter', sans-serif;
  user-select: none;
}

.detailed-input input {
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(3, 3, 156);
  /* border-radius: 5px; */
  color: rgb(63, 63, 63);
  font-family: 'Inter', sans-serif;

}

.detailed-input input:focus {
  outline: .7pt solid rgb(3, 3, 156);
}


.detailed-input span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailed-input .btns {
  margin-left: auto;
}

.detailed-input button {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px;
}

.detailed-input-minimized {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  padding: 5px;
  user-select: none;
}

.detailed-input-minimized:hover {
  background-color: rgb(241, 241, 241);
}

.ref-input > span {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 5px;
}

.ref-input > span:nth-child(2) {
  margin-bottom: 10px;
}


.ref-input > span > label {
  font-size: 1.3rem;
  font-family: 'Inter', sans-serif;
  align-self: center;
}

.ref-input > span > input {
  font-size: 1.2rem;
  padding: 5px;
  align-self: center;
  color: rgb(63, 63, 63);
  border: 1px solid rgb(3, 3, 156);
  font-family: 'Inter', sans-serif;
}

.ref-input > span > input:focus {
  outline: .7pt solid rgb(3, 3, 156);
}

