input.name {
  font-size: 1.5rem;
}

.textbox {
  display: flex;
  flex-direction: column;
}

.textbox label {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.textbox input {
  font-size: 1.2rem;
  margin-bottom: 10px;
}